@import url("https://fonts.googleapis.com/css2?family=Lato&family=Monda&family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.flite {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #dbf6e9;
}
#project {
  background-color: #dbf6e9;
}
#contact p {
  color: rgb(73, 71, 71);
}
#contact i {
  font-size: xx-large;
  color: rgb(73, 71, 71);
}
#contact p .mail:hover {
  color: rgb(179, 25, 25);
}
#contact p .wa:hover {
  color: rgb(20, 150, 20);
}

#contact a .fb:hover {
  color: rgb(26, 24, 145);
}
#contact a .liin:hover {
  color: rgb(25, 65, 150);
}

.container-project {
  max-width: 100%;
  display: flex;
}
.container-project .box-project {
  position: relative;
  width: 320px;
  height: 320px;
  background: #fff;
  padding: 30px 30px 30px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  margin-right: 15px;
}

.container-project .box-project:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff226d;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.container-project .box-project:hover:before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.container-project .box-project p {
  position: relative;
  color: transparent;
  z-index: 2;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}
.container-project .box-project:hover p {
  color: #dbf6e9;
}
.container-project .box-project:visited p {
  color: #a8ff44;
}
.container-project .box-project a {
  color: transparent;
  border: none;
}
.container-project .box-project:hover a {
  position: relative;
  color: rgb(228, 217, 217);
  margin-top: 20px;
  border: 2px solid oldlace;
}
.btns:focus {
  box-shadow: none;
}
